{{- $params := .Params | merge .Site.Params.page -}}
{{- $image := $params.featuredimagepreview | default $params.featuredimage -}}
{{- with .Resources.GetMatch "featured-image" -}}
    {{- $image = .RelPermalink -}}
{{- end -}}
{{- with .Resources.GetMatch "featured-image-preview" -}}
    {{- $image = .RelPermalink -}}
{{- end -}}
{{- $author := $params.author | default .Site.Params.Author.name | default (T "author") -}}
<article class="home-post-tile" itemscope itemtype="http://schema.org/Article">
    <a class="home-post-tile__card" href="{{ .RelPermalink }}">
        {{- with $image -}}
            <div class="home-post-tile__media">
                {{- dict "Src" . "Title" $.Title "Resources" $.Resources | partial "plugin/img.html" -}}
            </div>
        {{- else -}}
            <div class="home-post-tile__media home-post-tile__media--placeholder" aria-hidden="true"></div>
        {{- end -}}
        <div class="home-post-tile__body">
            {{- with .Section -}}
                <p class="home-post-tile__section">{{ . | humanize | replaceRE "-" " " }}</p>
            {{- end -}}
            <h2 class="home-post-tile__title" itemprop="name headline">{{- partial "heading-title-markup.html" . -}}</h2>
            {{- with .Site.Params.dateFormat | default "2006-01-02" | .PublishDate.Format -}}
                <time class="home-post-tile__date" datetime="{{ $.PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">{{ . }}</time>
            {{- end -}}
            <div class="home-post-tile__summary">
                {{- with .Summary -}}
                    {{- dict "Content" . "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                {{- else -}}
                    {{- .Description | markdownify -}}
                {{- end -}}
            </div>
            <div class="home-post-tile__footer">
                <span class="home-post-tile__author">
                    <i class="fas fa-user-circle fa-fw" aria-hidden="true"></i>
                    {{- $author -}}
                </span>
                <span class="home-post-tile__reading-time">
                    <i class="far fa-clock fa-fw" aria-hidden="true"></i>
                    {{- T "readingTime" .ReadingTime -}}
                </span>
            </div>
        </div>
    </a>
</article>
